.chart-container {
    width: 400px; /* Set the width of the chart container */
    height: 300px; /* Set the height of the chart container */
    left: 2000px; /* Adjust this value to move the chart further right */
    position: relative; /* Position the chart container */
    bottom: 500px;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
}

.chart-title {
    text-align: center; /* Center the title */
    font-size: 16px; /* Font size for the title */
    margin-bottom: 20px; /* Space between title and chart */
}
