/* App.css */

.App {
  text-align: center;
  width: 2500px; /* Set the width to 100% of the parent container */
  margin: 0 auto; /* Center the container horizontally */
  padding: 20px; /* Add some padding for better spacing */
  /*box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.App-sidebar {
  /* Add styles specific to Sidebar */
}

.App-header1 {
  /* Add styles specific to Header1 */
}

.App-header2 {
  /* Add styles specific to Header2 */
}

.App-dashboard {
  /* Add styles specific to Dashboard */
}

.App-influencers {
  /* Add styles specific to InfluencersSection */
}

.App-campaign-reach {
  /* Add styles specific to CampaignReach */
}

.App-radar-chart {
  /* Add styles specific to RadarChartComponent */
}

.App-age-gender-chart {
  /* Add styles specific to AgeGenderChart */
}