/* campaignReach.css */

/* Container for the campaign reach section */


/* Container for the map */
.map {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    height: 300px;
    position: relative;
    bottom:1115px;
    left: 730px;
}

/* Styling for the map image */
.map-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Rounded corners for the image */
}