
.chart-container {
    width:350px ;
    height: 350px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 20px;
    position:relative;
    bottom:1750px;
    left:687px;

  }
  
  .chart-title {
    text-align: center;
    color: #333;
    font-weight: 600;
    margin-bottom: 10px;
  }
  