
.chart-container {
    width: 30%;
    height: 410px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 20px;
    position:relative;
    bottom:1990px;
    left:720px;

  }
  
  .chart-title {
    text-align: center;
    color: #333;
    font-weight: 600;
    margin-bottom: 10px;
  }
  