
.radar-chart-container {
    width: 34%;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 18px;
    position: relative;
    bottom:1615px;
    left:1425px;
    border-color: rgb(208, 207, 207);
  
  }
  
  .chart-title {
    text-align: left;
    position: relative;
    right: 120px;
    bottom: 20px;
    color: #333;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .recharts-surface {
    background: transparent; /* Ensure the chart has a transparent background */
  }