/* sidebar.css */

.sidebar {
  width: 200px;
  background-color: #ffffff;
  color: #ecf0f1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  position: relative;
  right:45px;
  bottom: 110px;
  border-radius: 8px;


  
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.name1 h4 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  display:flex;
  
}

.email {  
  font-size: 12px;
  color: #bdc3c7;
}

.sidebar-search {
  width: 100%;
  padding: 8px;
  margin: 15px 0;
  border-radius: 4px;
  border: none;
  background-color: #ffffff;
  color: #ecf0f1;
  font-size: 14px;
}

.menu {
  list-style-type: none;
  padding: 0;
}

.menu li {
  padding: 10px;
  font-size: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s;
}

.menu li:hover {
  background-color: #34495e;
}

.axis {
  margin-right: 10px;
  font-size: 18px;
}

.settings {
  position: relative;
}

.settings-dropdown {
  list-style-type: none;
  padding: 5px 0;
  background-color: #ffffff;
  border-radius: 4px;
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
}

.settings-dropdown li {
  padding: 8px 15px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.icon2 {
  margin-right: 8px;
  font-size: 16px;
}

.upgrade-section {
  margin-top: auto;
  text-align: center;
  background-color: #1e86fd;
  padding: 15px;
  border-radius: 8px;
  color: #ecf0f1;
}

.upgrade-section h4 {
  margin: 0;
  font-size: 18px;
}

.upgrade-section p {
  font-size: 12px;
  margin: 5px 0;
}

.upgrade-button {
  padding: 8px 15px;
  font-size: 14px;
  color: #2c3e50;
  background-color: #4e93e2;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.upgrade-button:hover {
  background-color: #bdc3c7;
}
